<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css"/>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script type="text/javascript" src="http://dullaran.github.io/ngMaskedInput/releases/ngmaskedinput-1.0.0alfa.js"></script>

    <title>Masked Input</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1>ng Masked Input</h1>
        <h2></h2>
        <a href="https://github.com/dullaran/ngMaskedInput" class="button"><small>View project on</small>GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          <h3>

<a name="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages"><span class="octicon octicon-link"></span></a>Masked Input Plugin</h3>

<p>
This is a masked input plugin for the angular javascript library (no jQuery dependencies). It allows a user to more easily enter fixed width input where you would like them to enter the data in a certain format (dates, phone numbers, etc). A mask is defined by a format made up of mask literals and mask definitions. Any character not in the definitions list below is considered a mask literal. Mask literals will be automatically entered for the user as they type and will not be able to be removed by the user.The following mask definitions are predefined:
</p>
<ul>
  <li>A Represents an alpha character (A-Z, a-z);</li>
  <li>9 Represents a numeric character (0-9);</li>
  <li>* Represents an alphanumeric character (A-Z, a-z, 0-9).</li>
</ul>

<h3>
<a name="rather-drive-stick" class="anchor" href="#rather-drive-stick"><span class="octicon octicon-link"></span></a>Usage</h3>

<ol>
  <li>Include the angular and masked input javascript files:</li>
  <pre><code>
  &lt;script type="text/javascript" src="angular.js"&gt;&lt;/script&gt;
  &lt;script type="text/javascript" src="ngmaskedinput-1.0.0alfa.js"&gt;&lt;/script&gt;
  </code></pre>
  <li>Include the ngMaskedInput in requirements of your main app:</li>
  <pre><code>
  var myApp = angular.module('myApp', ["ngMaskedInput"]);
  </code></pre>
  <li>Now set the mask on input:</li>
  <pre><code>
  &lt;input type="text" ng-model="input" mask="(99) 9999-9999"/&gt;
  </code></pre>
</ol>

<h3>
<a name="authors-and-contributors" class="anchor" href="#authors-and-contributors"><span class="octicon octicon-link"></span></a>Demos</h3>

<script type="text/javascript">
    var myApp = angular.module('myApp', ["ngMaskedInput"]);
</script>

<label for="telephone">Telephone:</label><br />
<input id+"telephone" type="text" class="form-control" ng-model="telephone" mask="(99) 9999-9999"/>Mask: (99) 9999-9999<br />
<label for="code">Code:</label><br />
<input id="code" type="text" class="form-control" ng-model="code" mask="AA-9999"/>Mask: AA-9999<br />
<label for="date">Date:</label><br />
<input id="date" type="text" class="form-control" ng-model="date" mask="99/99/9999"/>Mask: 99/99/9999<br />
<label for="identifier">Identifier:</label><br />
<input id="identifier" type="text" class="form-control" ng-model="identifier" mask="AA-****"/>Mask: AA-****<br />

<h4>Model Values</h4><br />
  <p>Telephone: {{telephone}}</p>
  <p>Code: {{code}}</p>
  <p>Date: {{date}}</p>
  <p>Identifier: {{identifier}}</p>

        </section>

        <aside id="sidebar">
          <a href="http://dullaran.github.io/ngMaskedInput/releases/ngmaskedinput-1.0.0alfa.min.js" class="button" download>
            <small>Download</small>
            .js Minified
          </a>
          <a href="http://dullaran.github.io/ngMaskedInput/releases/ngmaskedinput-1.0.0alfa.js" class="button" download>
            <small>Download</small>
            Uncompress
          </a>

          <p class="repo-owner"><a href="https://github.com/dullaran/ngMaskedInput"></a> is maintained by <a href="https://github.com/dullaran">Dullaran</a>.</p>

          <p>This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>
        </aside>
      </div>
    </div>
  </body>
</html>